# local envs
.venv/
venv/
isdfenv/
native_env/

# uv caches (if ever created locally)
uv_cache/
uv-cache/
uvcache/
unnecessary/
unnecessary/*
unnecessary/**/*

cmddft*
z*dft*
WFN_unfolded.h5
debug_arrays.h5
__pycache__/
*.py[cod]
*.pyc
build/
dist/
.venv/
*.egg-info/
taggedarrays*00.h5
taggedarrays**
.venv
.vscode
*.egg-info/
.localignore
*/WFN.h5
misc/WFNq.h5
examples/cohsex_prod/WFN.h5
wfc*.hdf5
charge-density.hdf5
qe_pp
qe_src
qe_upflib
bgw_src